html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(44,45,54);
}

.main {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 312px;
	height: 512px;
	background-color: rgb(47,49,58);

	border: 1px solid rgb(45,47,56);
	border-radius: 10px;
	box-shadow: 4px 4px 4px #262831;
}

.title {
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	user-select: none;
	padding-top: 12px;
	padding-bottom: 4px;
	letter-spacing: 4px;
	color: rgb(0,249,182);
	background-color: #262831;
	border-radius: 10px 10px 0 0;
	box-shadow: 4px 4px 4px #262831;
}

.datetime {
	width: 100%;
	user-select: none;
}

.ctime {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 55px;
	font-weight: 250;
	text-align: center;
	color: rgb(0,249,182);
	text-shadow: 2px 2px 2px rgb(30, 30, 30);
}

.cdate {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 14px;
	text-align: center;
	margin-top: -35px;
	color: #7A7979;;
}

.tasklist {
	width: 100%;
	height: 255px;
	overflow-y: auto;
}

input[type='input'] {
	width: 75%;
	height: 50px;
	outline: none;
	border:  none;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	border-radius: 0 0 0 10px;
}

button {
	width: 23.5%;
	height: 52px;
	outline: none;
	border: none;
	margin-left: -4px;
	cursor: pointer;
	background-color: #00f9b6;
	border-radius: 0 0 10px 0;
}

button:hover {
	background-color: #07bf8b;
	color: rgb(232, 232, 232);
	user-select: none;
}

ul {
	color: #7A7979;
	padding: 20px;
}

li {
	cursor: pointer;
	position: relative;
	list-style: none;
	text-decoration: none;

	padding-top: 15px;
	padding-left: 10px;
	height: 50px;
	margin-top: 8px;
	box-sizing: border-box;
	border: 1px solid #3e3f42;
	border-radius: 5px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 21px;
    text-align: left;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

i {
	position: absolute;
	left: 88%;
	width: 10%;
	color: #00f9b6;
	cursor: pointer;
}

i:hover {
	color: #07bf8b;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}