@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: rgb(108,117,125);
	font-family: 'Courgette', cursive;;
}

.main {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width: 600px;
	height: 400px;
	border-radius: 20px;
	background-color: rgb(215,206,204);
	box-shadow: 4px 4px 4px #3f3f3f;
}

button {
	width: 180px;
	padding: 8px;
	margin: 60px 35%;
	color: white;
	font-size: 22px;
	background-color: rgb(100,182,172);
	outline: none;
	border: 1px solid rgb(100,182,172);
	border-radius: 3px;
	box-shadow: 2px 2px 2px #3f3f3f;
}

p {
	margin-top: -50px;
	padding: 45px;
	color: rgb(108,117,125);
	font-size: 23px;
}

i {
	color: rgb(108,117,125);
}

h5 {
	text-align: right;
	margin-right: 45px;
	margin-top: -50px;
	font-size: 20px;
	color: rgb(100,182,172);
}